{% load static %}

    <!-- Start Contact -->
    <section id="contato" class="p-top-80 p-bottom-50" style="width: 100vw;">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Section Title -->
                    <div class="section-title text-center m-bottom-40">
                        <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Contato</h2>
                        <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                        <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><em>Entre em contato conosco em:</em></p>
                    </div>
                </div> <!-- /.col -->
            </div>  <!-- /.row -->

            <div class="row">
                <!-- === Contact Information === -->
                <address class="contact-info" style="display: flex; justify-content: center; flex-direction: row;">

                    <!-- === Location === -->
                    <div class="m-top-20 wow slideInRight">
                        <div class="contact-info-icon">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                        <div class="contact-info-title">
                            Endereço:
                        </div>
                        <div class="contact-info-text" style="margin-right: 50px;">
                            Rua Jeca Tatú 47, Vila Urupês, Suzano - SP
                        </div>
                    </div>

                    <!-- === Phone === -->
                    <div class="m-top-20 wow slideInRight">
                        <div class="contact-info-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-info-title">
                            Telefone:
                        </div>
                        <div class="contact-info-text" style="margin-right: 50px;">
                            (11) 97836-4436
                        </div>
                    </div>

                    <!-- === Mail === -->
                    <div class="m-top-20 wow slideInRight">
                        <div class="contact-info-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact-info-title">
                            E-mail:
                        </div>
                        <div class="contact-info-text">
                            carolinainacio.studio@gmail.com
                        </div>
                    </div>

                </address>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End Contact -->


  </body>
</html>

