{% load static %}

    <!-- Start Depoimentos -->
    <section id="testimonials" class="parallax-bg overlay-dark p-top-80 p-bottom-80" style="background-image: {% static 'images/testimonial-bg.jpg' %}; width: 100vw;" data-stellar-background-ratio="0.5">

        <!-- Section Title -->
        <div class="section-title text-center white-color m-bottom-40">
            <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Depoimentos</h2>
            <div class="divider-center-small divider-white wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
        </div>

        <!-- === Depoimentos === -->
        <div id="owl-testimonials" class="owl-carousel owl-theme testimonial text-center white-color">

            <!-- === Depoimento 1 === -->
            <div class="testimonial-item text-center">
                <p class="testimonial-desc">"Profissional habilidosa e atenciosa, sempre preocupada em oferecer um serviço de alta qualidade. Fiquei muito satisfeita com os serviços prestados, recomendo!"</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="{% static 'images/testimonial/1.jpg' %}" alt="">
                </div>
                <h5 class="testimonial-author">Silvia Nascimento</h5>
            </div>

            <!-- === Depoimento 2 === -->
            <div class="testimonial-item text-center">
                <p class="testimonial-desc">"A melhor profissional que já encontrei em podologia, manicure, pedicure, depilação e extensão de cílios. Excelência em todos os serviços, recomendo muito!"</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="{% static 'images/testimonial/1.jpg' %}" alt="">
                </div>
                <h5 class="testimonial-author">Solange Nascimento</h5>
            </div>

            <!-- === Depoimento 3 === -->
            <div class="testimonial-item text-center">
                <p class="testimonial-desc">"Profissional extremamente dedicada e competente. Sempre me atende com muito cuidado e atenção, recomendo seus serviços!"</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="{% static 'images/testimonial/1.jpg' %}" alt="">
                </div>
                <h5 class="testimonial-author">Mariana Inácio</h5>
            </div>

            <div class="testimonial-item text-center">
                <p class="testimonial-desc">"Não encontro palavras para descrever o quão satisfeita estou com os serviços dessa excelente profissional. Sempre atenciosa e cuidadosa, recomendo sem hesitação!"</p>
                <div class="testimonial-thumb">
                    <img class="img-responsive" src="{% static 'images/testimonial/1.jpg' %}" alt="">
                </div>
                <h5 class="testimonial-author">Angélica Nascimento</h5>
            </div>
        </div> <!-- /#owl-testimonials -->

    </section>
    <!-- End Depoimentos -->
