{% load static %}

    <!-- Start Footer -->
    <footer class="site-footer" style="width: 100vw;">
        <div class="container">
            <div class="social-icon pull-right">
                <a style="color: black; margin-right: 10px;" href="https://api.whatsapp.com/send?phone=5511978364436&text=" target="_blank"><i class="fa fa-whatsapp"></i></a>
                <a style="color: black;" href="https://www.instagram.com/carolinainacio_studio/"><i class="fa fa-instagram"></i></a>
            </div>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>
    <!-- End Footer -->


    <!-- Back to top -->
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
    <!-- /Back to top -->