
<body>

    <div style="border: 3px solid white; margin-left: 2%; margin-right: 2%; margin-top: 2%;">
        <h1 class="titulo-header" style="margin-left: 2%; font-size: 80px; color: #FFF8DC;">Carolina Inácio Studio</h1>
        <h5 class="titulo-header2" style="margin-left: 2%; font-size: 40px; color: #D0B084;">Podologia, Manicure, Pedicure e Depilação</h5>
        <br>
        <br>
        <button class="btn btn-success btn" type="button" style="margin-left: 35%; font-size: 20px;">Fazer Agendamento</button>


