{% load bootstrap5 %}
<body>

    {% bootstrap_messages %}

    <div style="border: 3px solid #FFC0CB; margin-left: 2%; margin-right: 2%; margin-top: 2%;">
        <div class="d-flex align-items-center" style="flex-direction: column;">
            <h1 class="titulo-header" style="font-size: 80px; color: #FFF8DC;">Carolina Inácio Studio</h1>
            <h5 class="titulo-header2" style="font-size: 40px; color: #D0B084;">Podologia, Manicure, Pedicure e Depilação</h5>
            <br>
            <br>
            <a href="#marcar_horario"><button class="btn btn-success btn" type="button" style="font-size: 20px;">Fazer Agendamento</button></a>
        </div>
