{% include 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% bootstrap_messages %}
<div class="d-flex justify-content-center" style="margin-top: 10%;"><h3 class="ola">Horários</h3></div>
<div class="">
  <table class="table" style="width: 80rem; margin: 0 auto;">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Serviço</th>
        <th scope="col">Horário</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data</th>
        <th scope="col">Marcado em</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for horario in horarios %}
        <tr>
            <td>{{horario.cliente}}</td>
            <td>{{horario.servico}}</td>
            <td>{{horario.horario}}</td>
            <td>{{horario.descricao}}</td>
            <td>{{horario.data}}</td>
            <td>{{horario.data_marcacao}}</td>
            <td><a class="btn btn-warning" href="{% url 'editar_horario' horario.id %}" style=""><h5 style="display: table-cell;vertical-align: middle;">Editar</h5></a></td>
            <td><a class="btn btn-danger" href="{% url 'deletar_horario' horario.id %}"><h5 style="display: table-cell;vertical-align: middle;">Apagar</h5></a></td>
        </tr>
    {% endfor %}
  </table>
</div>