{% include 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% bootstrap_messages %}
<div style="display: flex; justify-content: center; margin-top: 10%;"><h3>MEUS HORÁRIOS</h3></div>
<br><br>
    <div class="lista-horarios">
      <table class="table" style="width: 80rem; margin: 0 auto;">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Serviço</th>
            <th scope="col">Horário</th>
            <th scope="col">Descrição</th>
            <th scope="col">Data</th>
            <th scope="col">Marcado em</th>
            <th scope="col"></th>
          </tr>
        </thead>
        {% for horario in horarios %}
            <tr>
                <td>{{horario.cliente|title}}</td>
                <td>{{horario.servico}}</td>
                <td>{{horario.horario}}</td>
                <td>{{horario.descricao}}</td>
                <td>{{horario.data}}</td>
                <td>{{horario.data_marcacao}}</td>
                <td><button class="btn btn-warning btn-sm text-center"><a href="{% url 'editar_horario' horario.id %}" style="color: white;">Editar</a></button></td>
                <td><button class="btn btn-danger btn-sm text-center"><a href="{% url 'deletar_horario' horario.id %}" style="color: white;">Apagar</a></button></td>
            </tr>
        {% endfor %}
      </table>
    </div>