{% load bootstrap5 %}

    <section id="marcar_horario" class="corpo-site">
        <div>
            <hr class="linha-horizontal">
            <h3 class="titulos-corpo-site">Agendamentos</h3>
            <div class="corpo-sobre" style="margin-top: 30px;">
                <div style="width: 320px;">
                    {% bootstrap_messages %}
                </div>
                <form method="GET">
                    <h4 class="d-flex justify-content-center">Data</h4>
                    {{ form.data }}
                    <br>

                    <h4 class="d-flex justify-content-center">Serviço</h4>
                    {{ form.servico }}
                    <br>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" value="Verificar horários">
                    </div>
                    <br>
                </form>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="data" value="{{ request.session.data }}">
                    <input type="hidden" name="servico" value="{{ request.session.servico }}">
                    <h4 class="d-flex justify-content-center">Horário</h4>
                    <div class="d-flex justify-content-center">
                        <select class="form-control" style="text-align: center; width: 190px;">
                            {% for horario in horarios_disponiveis %}

                            <option value="{{ horario }}">{{ horario }}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <br>

                    <h4 class="d-flex justify-content-center">Descrição</h4>
                    {{ form.descricao }}
                    <br>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Fazer Agendamento</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
