{% load static %}

    <!-- Start Service -->
    <section id="servicos" class="light-bg p-top-80 p-bottom-80" style="width: 100vw;">
            <div class="row">
                <!-- Section Title -->
                <div class="section-title text-center m-bottom-40">
                    <h2>Serviços</h2>
                    <div class="divider-center-small"></div>
                </div>
                <!-- Service Item 1 -->
                <div class="col-md-3 col-sm-6 m-bottom-20">
                    <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="service-icon">
                            <img src="{% static 'images/feet.png' %}" style="height: 90%;"/>
                        </div>
                        <h4>Podologia</h4>
                        <div class="service-text">
                            <table class="table">

                              <tbody>

                                  {% for p in podologia %}
                                    <tr>
                                      <td>{{ p.nome }}</td>
                                      <td>R$ {{ p.preco }}</td>
                                    </tr>
                                  {% endfor %}

                              </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- /.col -->

                <!-- Service Item 2 -->
                <div class="col-md-3 col-sm-6 m-bottom-20">
                    <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="service-icon">
                            <img src="{% static 'images/nail-polish.png' %}" style="height: 90%;"/>
                        </div>
                        <h4>Manicure & Pedicure</h4>
                        <div class="service-text">
                            <table class="table">

                              <tbody>

                                  {% for m in manicurepedicure %}
                                    <tr>
                                      <td>{{ m.nome }}</td>
                                      <td>R$ {{ m.preco }}</td>
                                    </tr>
                                  {% endfor %}

                              </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- /.col -->

                <!-- Service Item 3 -->
                <div class="col-md-3 col-sm-6 m-bottom-20">
                    <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="service-icon">
                            <img src="{% static 'images/wax.png' %}" style="height: 90%;"/>
                        </div>
                        <h4>Depilação</h4>
                        <div class="service-text">
                            <table class="table">

                              <tbody>

                                  {% for d in depilacao %}
                                    <tr>
                                      <td>{{ d.nome }}</td>
                                      <td>R$ {{ d.preco }}</td>
                                    </tr>
                                  {% endfor %}

                              </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- /.col -->

                <!-- Service Item 4 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="service-icon">
                            <img src="{% static 'images/eye.png' %}"/>
                        </div>
                        <h4>Extensão de Cílios</h4>
                        <div class="service-text">
                            <div class="table-class"></div>
                            <table class="table">

                              <tbody>

                                  {% for c in cilios %}
                                    <tr>
                                      <td>{{ c.nome }}</td>
                                      <td>R$ {{ c.preco }}</td>
                                    </tr>
                                  {% endfor %}

                              </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- /.col -->

            </div> <!-- /.row -->
    </section>
    <!-- End Service -->