

    <section id="servicos" class="corpo-site">
        <div>
            <hr class="linha-horizontal">
            <h3 class="titulos-corpo-site">Serviços</h3>
            <div class="corpo-sobre" style="display: flex; flex-direction: row;">
                <div class="card" style="min-height: 250px; background-color: rgba(0, 0, 0, 0.5); width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="display: flex; justify-content: center; font-size: 30px; padding: 15px;">Podologia</h5>
                    <p class="card-text" style="display: flex; justify-content: center;">alguma explicação mais específica.</p>
                    <div class="d-flex justify-content-center" style="margin-top: 50%;">
                        <button type="button" class="btn btn-success">Agendar Horário</button>
                    </div>
                  </div>
                </div>

                <div class="card" style="min-height: 250px; background-color: rgba(0, 0, 0, 0.5); width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="display: flex; justify-content: center; font-size: 30px; padding: 15px;">Manicure</h5>
                    <p class="card-text" style="display: flex; justify-content: center;">alguma explicação mais específica.</p>
                    <div class="d-flex justify-content-center" style="margin-top: 50%;">
                        <button type="button" class="btn btn-success">Agendar Horário</button>
                    </div>
                  </div>
                </div>

                <div class="card" style="min-height: 250px; background-color: rgba(0, 0, 0, 0.5); width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="display: flex; justify-content: center; font-size: 30px; padding: 15px;">Pedicure</h5>
                    <p class="card-text" style="display: flex; justify-content: center;">alguma explicação mais específica.</p>
                    <div class="d-flex justify-content-center" style="margin-top: 50%;">
                        <button type="button" class="btn btn-success">Agendar Horário</button>
                    </div>
                  </div>
                </div>

                <div class="card" style="min-height: 250px; background-color: rgba(0, 0, 0, 0.5); width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" style="display: flex; justify-content: center; font-size: 30px; padding: 15px;">Depilação</h5>
                    <p class="card-text" style="display: flex; justify-content: center;">alguma explicação mais específica.</p>
                    <div class="d-flex justify-content-center" style="margin-top: 50%;">
                        <button type="button" class="btn btn-success">Agendar Horário</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>