{% load static %}


    <section id="sobre" class="corpo-site">
        <div>
            <hr class="linha-horizontal">
            <h3 class="titulos-corpo-site">Sobre</h3>
            <div class="corpo-sobre">
                <h4>Carolina Inácio tem 26 anos e é formada em Podologia pela escola tal tal tal, com tantos anos de experiência.</h4>
                <h5>Além disso, é formada em Engenharia Química pela Universidade tal tal tal.</h5>
                <h5>Data de Nascimento: 14/01/1997</h5>
                <h5>Email: carolinainaciostudio@gmail.com</h5>
                <h5>Telefone: (11) 99999-9999</h5>
            </div>
        </div>
    </section>
