{% load static %}

    <!-- Start Sobre -->
    <section id="sobre" class="p-top-80 p-bottom-80" style="width: 100vw;">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <!-- Section Title -->
                    <div class="m-bottom-30">
                        <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">Sobre</h2>
                        <div class="divider-small wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s"></div>
                    </div>

                    <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                        <p>Carolina Inácio é uma profissional experiente e dedicada, com formação técnica em Podologia e Análises Químicas, além de graduação em Química e curso de habilitação em Ácido. Com anos de experiência, ela é especialista em cuidados com os pés e análise química de produtos. Seu conhecimento e habilidades são valorizados por seus clientes e colegas.</p>
                        <p>Email: carolinainacio.studio@gmail.com</p>
                        <p>Telefone: (11) 97836-4436</p>
                        <div class="social-icon pull-right">
                            <a style="color: black; margin-right: 10px;" href="https://api.whatsapp.com/send?phone=5511978364436&text=" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            <a style="color: black;" href="https://www.instagram.com/carolinainacio_studio/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                    <a href="https://api.whatsapp.com/send?phone=5511978364436&text=" target="_blank" class="m-top-30 m-bottom-30 btn btn-primary wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">Entre em Contato</a>

                </div>

                <div class="col-md-6">

                    <div class="imagem-sobre">
                        <img src="{% static 'images/caca-sobre.png' %}" alt="Feature Image" class="img-responsive wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" />
                    </div>

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End Sobre -->
