{% load static %}

    <!-- Start Sobre -->
    <section id="sobre" class="p-top-80 p-bottom-80" style="width: 100vw;">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <!-- Section Title -->
                    <div class="m-bottom-30">
                        <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">Sobre</h2>
                        <div class="divider-small wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s"></div>
                    </div>

                    <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
                        <p>Lorem ipsum dolor sit amet. Aut neque esse ea voluptatem soluta aut rerum galisum quo cupiditate cupiditate aut provident iure! Et provident quae eum sapiente quia qui repellat Quis et dolor repellat id labore quaerat. In quaerat sequi sit voluptatum consequatur hic cumque sint</p>
                        <p>Email: seuemail@gmail.com</p>
                        <p>Telefone: (11) 99999-9999</p>
                        <div class="social-icon pull-right">
                            <a style="color: black; margin-right: 10px;" href="" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            <a style="color: black;" href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                    <a href="" target="_blank" class="m-top-30 m-bottom-30 btn btn-primary wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">Entre em Contato</a>

                </div>

                <div class="col-md-6">

                    <div class="imagem-sobre">
                        <img src="{% static 'images/testimonial/1.jpg' %}" alt="Feature Image" class="img-responsive wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" />
                    </div>

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End Sobre -->
